<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry is a gay boy</title>
</head>
<body>
    <h1>My name is Henry, and this is my website.</h1>

    <div>
        <h2>Here is an h2 element I can play with.</h2>
    </div>

    <div>
        <form action="/success" method="GET">
            <h3>Let's try some interactivity!</h3>
            <button type="submit">Click me!</button>
        </form>
    </div>
</body>
</html>